<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Administracion <b>Usuarios</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <button type="button" class="btn btn-secondary" (click)="modal.open(contenido)">Agregar
                            Usuario</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of userList">
                        <td> {{ usuario.Nombre }} </td>
                        <td> {{ usuario.Clase }} </td>
                        <td>
                            <button class="delete" title="Delete" data-toggle="Delete"
                                (click)="deleteParte(usuario)">Eliminar</button>
                            <button class="settings" title="Settings" data-toggle="tooltip" (click)="modificar(usuario)" (click)="modal.open(Modificar)">Modificar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<hr>
<ng-template #contenido let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Menu de agregacion de Usuario</h4>
                <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="recipient-name" class="col-form-label">Nombre del Usuario:
                    <input type="text" class="form-control" id="recipient-altura" required size="10px" [(ngModel)]="nombre" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>

                    </div>
                </label>
                    <div>Que cargo tendra el nuevo usuario?</div>
                    <select [(ngModel)]="clase"> 
                    <option value=""></option>
                    <option value="Administrador">Administrador</option>
                    <option value="Operario">Operario</option>
                    <option value="Auditor">Auditor</option>
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="modal.close()"
                        (click)="controladorCreacion()">OK!</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #Modificar let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Menu de modificacion de Usuario</h4>
                <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>Cual quieres que sea la nueva clase del usuario</div>
                    <select [(ngModel)]="clase"> 
                    <option value=""></option>
                    <option value="Administrador">Administrador</option>
                    <option value="Operario">Operario</option>
                    <option value="Auditor">Auditor</option>
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="modal.close()"
                        (click)="updateClass(usuarioTemp)">OK!</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>