<div class="drag-container">

    <h2>Componentes</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="drag-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let item of todo" cdkDrag>{{item.Nombre}}</div>
    </div>
  </div>
  
  <div class="drag-container">

    <h2>Plano de molino</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="drag-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let item of done" cdkDrag>{{item.Nombre}}</div>
    </div>
  </div>
  