<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="modal.open(contenido)">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Molino" tabindex="-1">Molinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Usuarios" tabindex="-1" aria-disabled="true">Lista de usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Armador" tabindex="-1" aria-disabled="true">Armador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Piezas" tabindex="-1" aria-disabled="true">Lista de Partes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-template #contenido let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> ¿Desea cerrar sesion?</h4>
                <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <button id="submit" type="button" class="btn btn-success" (click)="modal.close()" (click)="login()"
                    data-target="#modalForm">Si</button>
              <button id="submit" type="button" class="btn btn-success" (click)="modal.close()"
                  data-target="#modalForm">No</button>
          </div>
    </div>
  </ng-template>