<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="modulo-molino.component.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
							<img src="assets/molino.jpg" alt="" width="100" height="50">
						</div>
						</div>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Perfil:</h3>
						
						<p class="product-description">Informacion del molino va en este espacio</p>
						<h4 class="price">Codigo: <span>4u3hr38y</span></h4>
						<h4 class="price">Categoria: <span>cat3333</span></h4>
						<h4 class="price">Material: <span>Madera</span></h4>
						<h4 class="price">Altura: <span>1000 Metros</span></h4>
						<h4 class="price">Resistencia Heolica: <span>200 pies?Km?</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>

