<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="details col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-aspas">
							<img src={{actual.Aspa.Foto}} alt="" width="100px" height="100px">
						</div>
						</div>
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-cuerpo">
							  <img src={{actual.Cuerpo.Foto}} alt="" width="100px" height="100px">
						  </div>
						</div>
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-base">
							  <img src={{actual.Base.Foto}} alt="" width="100px" height="100px">
						  </div>
						</div>
						
					</div>
					

					<div class="details col-md-6">
						<h3 class="product-title">{{actual.Nombre}}</h3>
						<p class="product-description">{{actual.Descripcion}}</p>
						<h4 class="caracteristica">Recistencia Eolica:<span>{{actual.ResistenciaHeolica}}</span></h4>
						<h4 class="caracteristica">Precio:<span>${{actual.Precio}}</span></h4>
						<h4 class="caracteristica">Codigo:<span>{{actual.Codigo}}</span></h4>
						
						<div class="action">
							<button class=preb-or-next (click)="prevMolino()"><<<<<<</button>
							<button class="approbe-or-not btn btn-default" (click)="aprovar()" type="button">Aprobar</button>
							<button class="approbe-or-not btn btn-default" (click)="rechazar()" type="button">Rechazar</button>
							<button class=preb-or-next (click)="nextMolino()">>>>>></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

