<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="modulo-molino.component.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="details col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-aspas">
							<img src={{actual.Aspa.Foto}} alt="" width="100" height="100">
						</div>
						</div>
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-cuerpo">
							  <img src={{actual.Cuerpo.Foto}} alt="" width="100" height="100">
						  </div>
						</div>
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-base">
							  <img src={{actual.Base.Foto}} alt="" width="100" height="100">
						  </div>
						</div>
						
					</div>
					

					<div class="details col-md-6">
						<h3 class="product-title">{{actual.Nombre}}</h3>
						<p class="product-description">{{actual.Descripcion}}</p>
						<h4 class="caracteristica">Recistencia Heolica:<span>{{actual.ResistenciaHeolica}}</span></h4>
						<h4 class="caracteristica">Precio:<span>${{actual.Precio}}</span></h4>
						<h4 class="caracteristica">Codigo:<span>{{actual.Codigo}}</span></h4>
						
						<div class="action">
							<button class=preb-or-next (click)="prevMolino()"><<<<<<</button>
							<button class="approbe-or-not btn btn-default" (click)="aprovar()" type="button">Aprobar</button>
							<button class="approbe-or-not btn btn-default" (click)="rechazar()" type="button">Rechazar</button>
							<button class=preb-or-next (click)="nextMolino()">>>>>></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>

